* {
    padding: 0%;
    margin: 0%;
}
body{

    background-color: #618F62;  
    
}
main{
    margin-left:9vh;
}
.wrap{
    width: 55%;
    height: 80%;
    background-color: white;
    margin-top: 7vh;
    margin-right: 7vh;
    margin-bottom: 15vh;
    margin-left: 48vh;   
    border-radius: 10px; 
}
aside {
    float: right;
}
#start{
    border-radius: 15px;
    height: 33px;
    width: 60px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin-left:35vh;
    text-align: center;
    border: 0px; 
    
}
/*
.startposition{
display: flex;
html:
     <div class="startposition">
        <button id="start" >Get started</button>
    </div>
} */


#road {
    width: 50vh;
    height: 77vh;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 10px;
}
#triva{
    width: 90px;
    
    margin-left: -2vh;
}

#ontopmail {
    border-radius: 15px;
    height: 27px;
    width: 117px;
    background-color: white;
    font-weight: bold;
    margin-top: 4px;
    font-size: 9px;
    border-color: #F7F7F7;
    border-style: solid;
}

#ontopcel {
    border-radius: 15px;
    height: 27px;
    width: 117px;
    background-color: white;
    font-weight: bold;
    font-size: 9px;
    border-color: #F7F7F7;
    border-style: solid;
}

#spaceh1 {
    font-size: 30px;
    font-weight: 400;
}
#titlebottom{
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}
#greenprop {
    border-radius: 15px;
    height: 33px;
    width: 142px;
    color: white;
    background-color: #619060;
    font-weight: bold;
    font-size: 10px;
    margin-left: -102px;
    border: 0vh;
}
#allfacts{
    
    display: flex;
    align-items: flex-start;
}
#facts{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
#earnup{
    margin-left: 80px;
    margin-bottom: 20px;
    color: #B3B3B5;
    font-size: 10px;
}
.back{
    width: 60%;
    margin: 0%;
     
}

#backpic{
    width: 63vh;
    height: 22vh;
    border-radius: 10px;
    margin-left: -8vh;
    
}
.estimate{
    margin-top: -19vh;
    font-size: 7px;
    color: white;
    margin-left: 2vh;
    
    
}
.threebutton{
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    backdrop-filter: blur(3px);
    color: white;
    font-size: 7px;
    text-align: left;
    margin-left: 2vh;
    border: 0px;
}
.areabutton{
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    backdrop-filter: blur(3px);
    color: white;
    font-size: 7px;
    text-align: left;
    margin-left: -6vh;
    border: 0px;
    
}
.unicbutton{
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 7px;
    margin-left:-6vh ;
    text-align: center;
    border: 0px;
}
#allbuttons{
    display: grid;
    grid-template-columns:200px 200px ;  
    margin-top: 0vh;
}