* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #618F62;
}

main {
    margin-left: 8.1vh;
}

.wrap {
    width: 55%;
    height: 90%;
    background-color: white;
    margin-top: 7vh;
    margin-right: 7vh;
    margin-bottom: 15vh;
    margin-left: 48vh;
    border-radius: 10px;
}

aside {
    float: right;
}

.startposition {
    display: flex;
    flex-direction: row;
}
#start {
    border-radius: 15px;
    height: 33px;
    width: 70px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 9px;
    margin-left: 30vh;
    margin-top: 20px;
    text-align: center;
    border: 0px;
    position: absolute;
}

#asidebutton {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 9px;
    margin-top: 4vh;
    margin-left: 42vh;
    text-align: center;
    border: 0px;
    position: absolute;
}

.play {
    margin-top: 40vh;
    margin-left: 23vh;
    position: absolute;
    font-size: 11px;
    font-weight: bolder;
    color: white;
    border-radius: 25%;
}

#road {
    width: 50vh;
    height: 77vh;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 10px;
}

#fouravatar {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: start;
    align-items: end;
    margin-left: 2vh;
    margin-top: -13vh;
}

.litleavatar {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.hs {
    margin-left: 15px;
}

.hundred {
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.satisfied {
    font-size: 9px;
    color: #6C7768;
}


#triva {
    width: 90px;
    margin-bottom: -10px;
    margin-left: -2vh;
}

#ontopmail {
    border-radius: 15px;
    height: 27px;
    width: 117px;
    background-color: white;
    font-weight: bold;
    margin-top: 4px;
    font-size: 9px;
    border-color: #F7F7F7;
    border-style: solid;
}

#ontopcel {
    border-radius: 15px;
    height: 27px;
    width: 117px;
    background-color: white;
    font-weight: bold;
    font-size: 9px;
    border-color: #F7F7F7;
    border-style: solid;
}
#titlebottom {
    display: flex;
    align-items: flex-end;
    margin-top: 41px;
    margin-bottom: 40px;
}

#spaceh1 {
    font-size: 30px;
    font-weight: 400;
}

#greenprop {
    border-radius: 15px;
    height: 33px;
    width: 142px;
    color: white;
    background-color: #619060;
    font-weight: bold;
    font-size: 10px;
    margin-left: -102px;
    border: 0vh;
}

#allfacts {
    display: flex;
    align-items: flex-start;
}

#facts {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

#earnup {
    margin-left: 80px;
    margin-bottom: 20px;
    color: #B3B3B5;
    font-size: 10px;
}

.back {
    width: 60%;
    margin-left: 5px;
    margin-bottom: 5px;
}

#backpic {
    width: 63vh;
    height: 22vh;
    border-radius: 10px;
    margin-left: -8vh;
}

.estimate {
    margin-top: -19vh;
    font-size: 7px;
    color: white;
    margin-left: 2vh;
    width: 30%;
}

.butt {
    width: 10%;
    margin-left: 50vh;
    margin-top: -3vh;
    position: absolute;
}

#searchbutton {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 9px;
    margin-top: -3vh;
    margin-left: -2vh;
    text-align: center;
    border: 0px;
    position: absolute;
}

#search {
    display: flex;
    margin-right: 77vh;
}

#allbuttons {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 0vh;
}

.threebutton {
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    backdrop-filter: blur(3px);
    color: white;
    font-size: 7px;
    text-align: left;
    margin-left: 2vh;
    border: 0px;
}

.smallbuttontitle {
    font-size: 8px;
    color: #b4c5ac56;
}

.bigbuttontitle {
    font-size: 9px;
    color: #b4c5ac;
}

.areabutton {
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    backdrop-filter: blur(3px);
    color: white;
    font-size: 7px;
    text-align: left;
    margin-left: -6vh;
    border: 0px;

}

.unicbutton {
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 7px;
    margin-left: -6vh;
    text-align: center;
    border: 0px;
}

